<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>영화 수정</title>
</head>
<body>
    <form method="post" action="/editMovie" th:object="${editMovieForm}">
        <input type="hidden" name="id" th:value="*{id}">
        제목 :
        <input type="text" name="name" th:value="*{name}">
        <br/>

<!--        장르 :-->
<!--        <input type="text" name="genreId" th:value="*{genreId}">-->
<!--        <br/>-->
        장르 :
        <select id="genre" th:field="*{genreId}">
            <option value="0">-장르 선택--</option>
            <option th:each="gen : ${genreList}"
                    th:value="${gen.id}"
                    th:text="${gen.name}">
            </option>
        </select>

        <br/>
        가격 :
        <input type="text" name="price" th:value="*{price}">
        <br/>
        출시 년도 :
        <input type="text" name="releaseYear" th:value="*{releaseYear}">
        <br/>
        <input type="submit" value="등록">
    </form>
</body>
</html>